Source: wazo-python-graphql-core-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 12),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.7

Package: python3-graphql-core
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-typing-extensions (>= 4.4.0)
Description: GraphQL for Python
 This library is a port of graphql-js to Python.
 .
